.container {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: top;
     height: 100vh;

}

body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

.title {
    font-size: 2.1rem;
    font-weight: bold;
    color: #FF8D33;
}

.showDetails {
    display: block;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.details {
    color: #5A5858;
    font-size: 1.2rem;
}

p {
    margin: 0.5vh 0;
}